.jumbotron {
  margin-top: 3rem;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70%;
}

table, td {
  border: 1px solid rgb(204, 204, 204);
  border-collapse: separate; 
}

table {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 1%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  background-color: #1b5e20;
}

#main {
  background-color: white;
}

#main h2 {
  margin-bottom: 2%;
}


#main-about {
  margin-bottom: 5%;
}

#main-description {
  line-height: 200%;
}

img {
  width: 80%;
}

.ion-trophy {
  font-size: 200%;
}

hr {
  margin: 5rem 0;
}

.form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#conc {
  margin-bottom: 5rem;
}

iframe {
  width: 80%;
  height: 100%;
}

.info {
  display: block;
  margin-bottom: 1.5rem;
}

a {
  color: black;
}

textarea {
  border-radius: 5px;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  color: white;
  background-color: #1b5e20;
  margin-bottom: 5rem;
}

#footer {
  background-color: #1b5e20;
  height: 3rem;
}

h1 {
  font-size: 400%;
}

#intro {
  margin-top: 25rem;
  background-color: rgba(0, 30, 10, 0.80);
  border-radius: 5px;
  padding: 2%;
}

#intro-p {
  margin-bottom: 400px;
}

#conc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

#feedback {
  margin: 5rem auto;
  width: 60%;
}